[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
empty = "*"
flask = "*"
flask-testing = "*"
flask-debugtoolbar = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.9"
