[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
empty = "*"
flask = "*"
flask-testing = "*"
flask-debugtoolbar = "*"
pydantic = "*"
yappi = "*"
snakeviz = "*"
memory-profiler = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
